@import url("../../styles/vars.css");

.profile-form__control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  position: relative;

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--color-decoration);
  }

  & label {
    color: var(--main-font);

    &.file-upload {
      color: var(--color-main);
      text-decoration: underline;
      cursor: pointer;
    }
  }

  & input {
    border: none;
    text-align: end;
    background-color: transparent;
    color: var(--shade-color);
  }

  & input[type="file"] {
    display: none;
  }
}
