@import url("../../styles/vars.css");

.profile-form__control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--color-decoration);
  }

  & label {
    color: var(--main-font);
  }

  & input {
    border: none;
    text-align: end;
    background-color: transparent;
    color: var(--shade-color);
  }
}
