@import url("../../styles/vars.css");

.profile-container {
  min-height: 100vh;
  display: flex !important;
}

.profile {
  width: 95%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile-title {
  font-weight: 600;
  font-size: 16px;
  color: var(--main-font);
  padding-top: 21px;
}

.profile-body {
  padding: 50px 0;
}

.profile-form {
  width: 290px;
}

.profile-footer {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
