@import url("../../vars.css");

.side-button {
  width: 5%;
  min-width: 64px;
  background-color: #fbfbfb;
  display: flex;

  &:hover {
    cursor: pointer;
    background-color: var(--color-hover);
  }
}

.arrow {
  width: 28px;
  height: 28px;
  margin: auto;
  border-radius: 50%;
  background-color: var(--color-main);
  background-image: "url(../static/arrow.svg)";
  background-position: center;
  background-repeat: no-repeat;
}
