@import url("../../styles/vars.css");

.form__control {
  position: relative;
  margin-top: 32px;

  & label {
    color: var(--shade-color);
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    transition: 0.1s ease all;
    font-size: 13px;
  }

  & input {
    width: 280px;
    padding-bottom: 8px;
    border: none;
    outline: transparent;
    border-bottom: 1px solid var(--color-main);
    font-weight: 500;
    font-size: 13px;
    color: var(--dark-font);
  }

  & input:focus ~ label,
  & input:not(:placeholder-shown) ~ label {
    top: -14px;
    opacity: 1;
    font-size: 9px;
    transition: all 0.1s ease-out;
  }
}

.form__error {
  position: absolute;
  left: 0;
  top: 32px;
  margin: 0;
  color: var(--error-color);
  font-weight: 400;
  font-size: 8px;
  line-height: 8px;
  display: none;

  &.show {
    display: block;
  }
}
