.form__control {
  position: relative;
  margin-top: 40px;

  & label {
    color: var(--shade-color);
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    transition: 0.1s ease all;
    font-size: 13px;
  }

  & input {
    width: 280px;
    padding-bottom: 8px;
    border: none;
    outline: transparent;
    border-bottom: 1px solid var(--color-main);
    font-weight: 500;
    font-size: 13px;
    color: var(--dark-font);
  }

  & input:focus ~ label,
  & input:not(:placeholder-shown) ~ label {
    top: -14px;
    opacity: 1;
    font-size: 9px;
    transition: all 0.1s ease-out;
  }
}
