/* @import url("./modules/auth/auth.css"); */
@import url("./modules/chat/chat.css");
@import url("./modules/chatList/chatList.css");
@import url("./modules/chatList/components/listItem/listItem.css");
@import url("./layout/errorPage/errorPage.css");
@import url("./layout/main/main.css");
@import url("./layout/profile/profile.css");
@import url("./components/sideBtn/sideBtn.css");
@import url("./components/profileItem/profileItem.css");


@import url("./vars.css");
@import url("./pages/login/login.css");
@import url("./pages/register/register.css");
@import url("./components/form/form.css");
@import url("./components/formField/formField.css");
@import url("./components/button/button.css");


body {
  background-color: var(--color-background);
  font-family: Inter, Roboto, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}
