:root {
  --color-background: #f8f7f6;
  --color-main: #464f3b;
  --color-hover: #dce5d1;
  --color-decoration: #eaeaea;
  --main-font: #303030;
  --dark-font: #1e1e1e;
  --shade-color: #999;
  --danger-color: #ff2f2f;
  --white: #fff;
}
