:root {
  --color-background: #F8F7F6;
  --color-main: #464f3b;
  --color-hover: #DCE5D1;
  --color-decoration: #EAEAEA;
  --main-font: #303030;
  --dark-font: #1E1E1E;
  --shade-color: #999999;
  --danger-color: #FF2F2F;
}